<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>
	
<div id="login_form">

	<div class="login-page-err-area"></div>

	<form  method="post" id="login-page" autocomplete="on"> 
		<h1>Log in</h1> 
		<p> 
			<label class="user_name">Your user name</label>
			<input id="user_name" name="user_name" required="required" type="text" placeholder="user name" />			
		</p>
		<p> 
			<label class="password">Your password </label>
			<input id="password" name="password" required="required" type="password" placeholder="password"/>
		</p>
		
		<p class="keeplogin"> 
			<input type="checkbox" id="loginkeeping" value="loginkeeping" /> 
			<label>Keep me logged in</label>
		</p>
		
		<p class="login button"> 
			<!--<input type="submit" value="Login" /> -->
			<input type="button" value="Login" onClick="loginUser('#login-page', '.login-page-err-area')"/> 
		</p>
		<p class="change_link">
			Not a member yet ?
			<a href="/register">Join us</a>
		</p>
	</form>
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>

