<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">CommunityFund</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="/profile">Account</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
				<!--
				<% //if(auth) { %>
				
				    <li><a href="/logout">Logout</a></li>
				<% //} else { %>
				    <li><a href="/login">Login</a></li>
				    <li><a href="/register">Register</a></li>
				<% //}; %>
				-->  
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
					<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
						<form  method="post" id="login-form" autocomplete="on"> 	
							<input style="margin-bottom: 15px;" required="required" type="text" placeholder="Username" id="user_name" name="user_name">
							<input style="margin-bottom: 15px;" type="password" required="required" placeholder="Password" id="password" name="password">
							<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
							<label class="string optional" for="user_remember_me"> Remember me</label>
							<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                            <p class="change_link">
								Not a member yet?
								<a href="/register">Sign Up!</a>
							</p>
						</form>
					</div>
				</li>
			</ul>
				
			<% if(notif) {%>
				<p style="color: white; position: fixed;left:50%;top:15px;"><%= notif %></p>
			<% }; %>

		</div>
		<!-- /.navbar-collapse -->							

	</div>
	<!-- /.container -->
</nav>
