<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>


<p>User Profile Page</p>

<table border="1" cellpadding="7" cellspacing="7">
	<tr>
		<th width="50px">ID</th>
		<th>User Name</th>
		<th>Password</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Reputation</th>
		<th>Mailing address</th>
		<th>Phone</th>
		<th>Gender</th>
	</tr>
	
	<% for(var i = 0;i < data.length;i++) { %>
		 
	<tr>
		<td><%=data[i].id%></td>
		<td><%=data[i].password%></td>
		<td><%=data[i].username%></td>
		<td><%=data[i].firstname%></td>
		<td><%=data[i].lastname%></td>
		<td><%=data[i].email%></td>
		<td><%=data[i].reputation%></td>
		<td><%=data[i].mailling_address%></td>
		<td><%=data[i].phone%></td>
		<td><%=data[i].gender%></td>
	</tr>
	<% } %>
</table>

<a href="/funder" >Funder Form</a>
<a href="/initiator" >Initiator Form</a>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
