<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>

<div id="create_project_form">

	<form class="form-horizontal" id="create-project-form" method="post" autocomplete="on"> 
		
		<div class="create-project-form-err-area"></div>
		
		<div class="form-group">		
			<h1 class="col-sm-7 control-label">Create Project Form</h1>
		</div>

		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Name</label>
	    	<div class="col-xs-3">
	      		<input id="project_name" name="project_name" required="required" type="text" class="form-control" placeholder="Super Cool Project" />
	    	</div>
	  	</div>
	  	
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Description</label>
	    	<div class="col-xs-3">
	      		<textarea id="project_description" name="project_description" required="required" class="form-control" rows="3" placeholder="Information about the project"></textarea>
	    	</div>
	  	</div>
	  
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Funding Goal</label>
	    	<div class="col-xs-3">	    	
			    <div class="input-group">
			    	<div class="input-group-addon">$</div>
			    	<input id="project_goal" name="project_goal" type="number" min=0 class="form-control" placeholder="Amount">
			    	<div class="input-group-addon">.00</div>
			    </div>
		    </div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Community</label>
	    	<div class="col-xs-3">
				<select class="form-control" id="project_community" name="project_community">
					<option value="health">Health</option>
					<option value="education">Education</option>
				  	<option value="technology">Technology</option>
				  	<option value="finance">Finance</option>
				  	<option value="travel">Travel</option>
				</select>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-sm-offset-5">
	      		<input type="button" class="btn btn-primary btn-lg" value="Create Project" onClick="createProject('#create-project-form', '.create-project-form-err-area')"/> 
	    	</div>
	  	</div>
	</form>
	
	
</div>


<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
