<!--Bootstrapped header -->
<!-- Header -->
<% include header.html %>

<!--Bootstrapped nav bar-->
<!-- Navigation -->
<% include navbar.html %>

<div id="update_Project_form">

	<form class="form-horizontal" id="update-project-form" method="post" autocomplete="on"> 
		
		<div class="update-project-form-err-area"></div>
		
		<div class="form-group">		
			<h1 class="col-sm-7 control-label">Update Project Form</h1>
		</div>

		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Name</label>
	    	<div class="col-xs-3">
	      		<input id="project_name" name="project_name" required="required" type="text" class="form-control" value="<%=data[0].name%>" />
	    	</div>
	  	</div>
	  	
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Description</label>
	    	<div class="col-xs-3">
	      		<textarea id="project_description" name="project_description" required="required" class="form-control" rows="3"><%=data[0].description%></textarea>
	    	</div>
	  	</div>
	  	
		<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Funding Goal</label>
	    	<div class="col-xs-3">	    	
			    <div class="input-group">
			    	<div class="input-group-addon">$</div>
			    	<input id="project_goal" name="project_goal" type="text" class="form-control" placeholder="<%=data[0].goal%>">
			    </div>
		    </div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label class="col-sm-5 control-label">Project Community</label>
	    	<div class="col-xs-3">
				<select class="form-control" id="project_community" name="project_community">
					<option value="<%=data[0].community%>"> <%=data[0].community%> </option>
					<option value="health">Health</option>
					<option value="education">Education</option>
				  	<option value="technology">Technology</option>
				  	<option value="finance">Finance</option>
				  	<option value="travel">Travel</option>
				</select>
	    	</div>
	  	</div>

	  	<div class="form-group">
	    	<div class="col-sm-offset-5">
	      		<input type="button" class="btn btn-primary btn-lg" value="Update Project" onClick="updateProject('#update-project-form', '.update-project-form-err-area', '<%=data[0].p_id%>')"/> 
	    	</div>
	  	</div>
	</form>
</div>

<!-- Bootstrapped Footer -->
<!-- Footer -->
<% include footer.html %>
